---
import Card from "./Card.astro";

const CARDS = [
  {
    icon: "/images/icon-snappy-process.svg",
    title: "Snappy Process",
    text: "Our application process can be completed in minutes, not hours. Don’t get stuck filling in tedious forms.",
  },
  {
    icon: "/images/icon-affordable-prices.svg",
    title: "Affordable Prices",
    text: "We don’t want you worrying about high monthly costs. Our prices may be low, but we still offer the best coverage possible.",
  },
  {
    icon: "/images/icon-people-first.svg",
    title: "People First",
    text: "Our plans aren’t full of conditions and clauses to prevent payouts. We make sure you’re covered when you need it.",
  },
];
---

<section class="container lg:text-center mt-[306.5px] lg:mt-[120px] mb-[160px]">
  <div class="inline-block w-[150px] h-[1px] bg-brown mb-9 lg:mb-3"></div>
  <h2 class="font-serif text-[clamp(48px,6cqw,70px)] mb-[74px]">
    We’re different
  </h2>

  <div class="flex justify-between items-center lg:flex-col lg:gap-14">
    {
      CARDS.map((card) => {
        return <Card icon={card.icon} title={card.title} text={card.text} />;
      })
    }
  </div>
</section>
