---
import Button from "./Button.astro";
---

<div class="lg:px-5">
  <section
    class="flex items-center justify-between lg:flex-col lg:justify-center lg:text-center lg:gap-10 container bg-dark-purple pl-[80px] pr-[80px] pt-[66.5px] pb-[67px] lg:py-14 lg:px-5 bg-bg-pattern-how-we-work lg:bg-bg-pattern-how-we-work-mobile bg-no-repeat bg-right-top"
  >
    <h2
      class="font-serif text-white text-[clamp(40px,4cqw,54px)] max-w-[485px] lg:max-w-none leading-[58px] lg:leading-[48px] tracking-[.2px]"
    >
      Find out more about how we work
    </h2>
    <Button text="How We Work" color="dark" />
  </section>
</div>
